{% extends 'Quiz/dependencies.html' %}

  {% block content %}
  {% load static %}
  <div class="container mt-5">
      <!-- <h1 class="text-center mb-4 card-body">Quiz o Gwarze Wielkopolskiej</h1> -->

      <div align="right" id="displaytimer" class="mb-3">
          <b>Czasomierz: 0 sekund</b>
      </div>
  
    
      <form method='post' action=''>
          {% csrf_token %}
          
{% for q in questions %}
<div class="card mb-3 shadow-sm" style="background: rgba(255, 255, 255, 0.8); border-radius: 8px;">
    <div class="card-body">
        <h5 class="card-title">{{ q.question }}</h5>
        <div class="form-check" id="options-{{ q.id }}">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="{{ q.id }}" id="option1-{{ q.id }}" value="1">
                <label class="form-check-label" for="option1-{{ q.id }}">
                    {{ q.op1 }}
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="{{ q.id }}" id="option2-{{ q.id }}" value="2">
                <label class="form-check-label" for="option2-{{ q.id }}">
                    {{ q.op2 }}
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="{{ q.id }}" id="option3-{{ q.id }}" value="3">
                <label class="form-check-label" for="option3-{{ q.id }}">
                    {{ q.op3 }}
                </label>
            </div>
        </div>
    </div>
</div>
{% endfor %}






          
          <input id='timer' type='hidden' name="timer" value="">
          <button type="submit" class="btn btn-primary w-100 mt-3">Zakończ quiz</button>
      </form>
  </div>
  
  {% block script %}

  <script>
    document.addEventListener("DOMContentLoaded", function() {
        // Dla każdego pytania, przetasuj odpowiedzi
        {% for q in questions %}
        var optionsDiv = document.getElementById('options-{{ q.id }}');
        var options = Array.from(optionsDiv.getElementsByClassName('form-check'));
        
        // Przypadkowo przetasuj odpowiedzi
        options.sort(function() { return 0.5 - Math.random() });
        
        // Wstaw przetasowane odpowiedzi z powrotem do kontenera
        options.forEach(function(option) {
            optionsDiv.appendChild(option);
        });
        {% endfor %}
    });
</script>

  <script>
      const timer = document.getElementById('displaytimer');
      const inputtag = document.getElementById('timer');
      let t = 0;
  
      setInterval(() => {
          t += 1;
          timer.innerHTML = `<b>Czas trwania: ${t} sekund</b>`;
          inputtag.value = t;
      }, 1000);
  </script>
  {% endblock %}
  {% endblock %}
  