/* Ogólny styl strony */
body {
    font-family: 'Arial', sans-serif;
    background-image: url("/static/images/goats.jpg");
    background-size: cover; /* Makes the image cover the entire viewport */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling of the image */
    margin: 0;
    padding: 0;
}

/* Nagłówek */
h1 {
    font-size: 2rem;
    color: #333;
    font-weight: bold;
}

/* Karty pytań */
.card {
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #212529;
}

/* Przyciski */
button.btn-primary {
    font-size: 1rem;
    background-color: #007bff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button.btn-primary:hover {
    background-color: #0056b3;
    transform: scale(1.02);
}

/* Timer */
#displaytimer {
    font-size: 1rem;
    font-weight: bold;
    color: #6c757d;
    text-align: right;
}

/* Nowe style formularza logowania */

/* Center the content and style the form */
.container {
    margin-top: 50px;
}

/* Form container */
.login-card {
    background: rgba(255, 255, 255, 0.95);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 100%;
    max-width: 400px;
}

/* Input fields */
.form-control {
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 15px;
}

.form-control:focus {
    border-color: #28a745;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}

/* Submit button */
.btn {
    width: 100%;
    padding: 12px;
    font-size: 1.1rem;
    border-radius: 10px;
}

/* Link */
a {
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

/* Hover effect for form inputs */
input[type="text"], input[type="password"] {
    transition: all 0.3s ease;
}

input[type="text"]:hover, input[type="password"]:hover {
    border-color: #28a745;
}

.navbar {
    padding: 0.5rem 1rem;
  }
  
  .navbar-nav {
    align-items: center;
  }
  
  .navbar .greet {
    font-size: 16px;
    color: #fff;
    margin-left: auto;
    margin-right: 1rem;
  }
  
  .navbar .logout-link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    margin-left: 10px;
  }
  
  .navbar .logout-link:hover {
    text-decoration: underline;
  }
  